# ==========================
# Файлы конфигурации и секретов
# ==========================
.env*
*.key
*.pem
docker-compose.dev.yml

# ==========================
# Виртуальные окружения
# ==========================
venv/
env/
.venv/

# ==========================
# Django / статика / медиа
# ==========================
staticfiles/
media/
logging/

# ==========================
# IDE / редакторы
# ==========================
.idea/
.vscode/

# ==========================
# Python артефакты
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
pip-wheel-metadata/

# ==========================
# Базы данных
# ==========================
db.sqlite3
*.sqlite3

# ==========================
# Логи и временные файлы
# ==========================
*.log
*.out
*.pid
tmp/
test/

# ==========================
# Системные файлы ОС
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Nginx дефолт
# ==========================
index.nginx-debian.html
.env*

**/migrations/*
!**/migrations/__init__.py
