# Файлы конфигурации и секретов
.env
test/
*.key
*.pem

# Файлы виртуального окружения
venv/
env/

# Мануалы для софта
manuals/

# Файлы и папки IDE
.idea/
.vscode/

# Компилированные файлы Python
__pycache__/
*.pyc
