version: "3.9"

services:

  cargo_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cargo_app
    command: gunicorn cargodb.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    volumes:
      - /var/www/cargodb/staticfiles:/app/staticfiles
      - /var/www/cargodb/media:/app/media
