# docker-compose.prod.yml
services:

  cargo_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cargo_app
    command: gunicorn cargodb.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    volumes:
      - .:/app
      - /var/www/cargodb/staticfiles:/app/staticfiles   # ✅ ДОБАВЛЕНО
      - /var/www/cargodb/media:/app/media               # (было, если есть)

  nginx:
    image: nginx:latest
    container_name: cargo_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - /var/www/cargodb/staticfiles:/app/staticfiles    # ✅ ДОБАВЛЕНО
      - /var/www/cargodb/media:/app/media                # (если есть)
    depends_on:
      - cargo_app
