# docker-compose.prod.yml
services:
  app:
    build:
      context: .
      args:
        ENVIRONMENT: production
    container_name: cargo_app
    command: gunicorn cargodb.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
      - .env.secrets
    restart: always
