<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT UI</title>
    <link rel="stylesheet" href="/static/chatgpt_ui/css/styles.css">
    <script src="/static/chatgpt_ui/js/dialog.js" defer></script>
</head>
<body>
    <div class="chat-container">
        <h1>ChatGPT UI</h1>
        <form id="chat-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Отправить</button>
            <button onclick="copyToClipboard(this)" class="btn">Копировать</button>

        </form>
        <div id="chat-output"></div>
    </div>
</body>
</html>