{#web/templates/cargo_acc/cargo_table.html#}
{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script defer src="{% static 'js/cargo_table.js' %}"></script>

    <div class="cargo-table-page">
        <div class="table-header-container">
            <h3>Грузы</h3>
        </div>
        <div class="filter-bar">
            <input id="filterCargoCode" class="input-filter" placeholder="Груз" type="text">
            <input id="filterClient" class="input-filter" placeholder="Клиент" type="text">
            <input id="filterWarehouse" class="input-filter" placeholder="Склад" type="text">
            <input id="filterStatus" class="input-filter" placeholder="Статус" type="text">
            <button id="add-cargo-btn" class="settings-button" title="Добавить груз">➕</button>
            <button id="settings-btn" class="settings-button" title="Настройки">⚙️</button>
        </div>


        <meta name="user-role" content="{{ role }}">

        <div class="table-card table-container">
            <div class="table-wrapper" id="cargos-table-wrapper" data-table-key="cargos">
                <table class="table">
                    <thead id="cargos_head"></thead>
                    <tbody id="tbody_cargos"></tbody>
                </table>

                <div id="loader_cargos" class="loader hidden"></div>
            </div>
        </div>
    </div>



{% endblock %}

