{% extends '../base.html' %}
{% load static %}

{% block title %}Таблица клиентов{% endblock %}

{% block content %}
    <!-- Клиенты -->
    <div class="table-container" data-table="client-table">
        <div class="table-header-container">
            <h2>Клиенты</h2>
            <div class="filter-container">
                <label for="client-filter">Найти клиента:</label>
                <input type="text" id="client-filter" placeholder="Введите код клиента">
            </div>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="client-table" class="table">
            <thead>
            <tr class="table-header">
                <th>Код Клиента</th>
                <th>Компания</th>
                <th>Описание</th>
                <th class="delete-header">
                    <i class="fa fa-trash"></i> <!-- Иконка удаления в заголовке -->
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/client_table.js' %}"></script>
{% endblock %}
