{% extends '../base.html' %}
{% load static %}

{% block title %}Товары{% endblock %}

{% block content %}
    <!-- Поле для фильтров -->
    <div style="height: 2cm; border-bottom: 1px solid #ccc; margin-bottom: 10px;">
        <!-- Здесь будет размещение фильтров -->
    </div>

    <!-- tiket: Таблица Товары -->
    <div class="table-container" data-table="product-table">
        <div class="table-header-container">
            <h2>Товары</h2>
            <div class="filter-container">
                <label for="product-filter">Найти товар:</label>
                <input type="text" id="product-filter" placeholder="Введите код товара">
            </div>
            <div class="table-header-buttons">
                <button id="add-row-product" class="add-button" data-modal="product-modal">
                    Добавить
                </button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="product-table" class="table">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}
<script>
function startSSE() {
    const es = new EventSource('/cargo_acc/clients/stream/');
    es.onmessage = (ev) => {
        const updated = JSON.parse(ev.data);
        console.log("Список клиентов обновлён:", updated);
        // Здесь можете обновлять таблицу или выпадающий список
    };
    es.onerror = (err) => {
        console.error("SSE error:", err);
    };
}
document.addEventListener('DOMContentLoaded', startSSE);
</script>

{% block scripts %}
    <script src="{% static 'js/client_cache.js' %}"></script>
    <script src="{% static 'js/load_product_table.js' %}"></script>
{% endblock %}