{% extends "base.html" %}
{% load static %}
{% block title %}Товары — Cargo{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/table.css' %}">
<script defer src="{% static 'js/products_table.js' %}"></script>
<script defer src="{% static 'js/products_table_modals.js' %}"></script>

<div class="cargo-table-page">

    <div class="table-header-container">
        <h3>Товары</h3>
        <div style="display:flex; gap:12px;">
            <button id="btnAddProduct" class="btn-table">＋</button>
        </div>
    </div>

    <!-- Фильтр -->
    <div class="filter-bar">
        <input id="filterProductCode" class="input-filter" placeholder="Код товара" type="text">
        <input id="filterClient" class="input-filter" placeholder="Клиент" type="text">
        <input id="filterCargo" class="input-filter" placeholder="Груз" type="text">
        <input id="filterWarehouse" class="input-filter" placeholder="Склад" type="text">
    </div>

    <div class="table-card table-container">
        <div class="table-wrapper" id="product-table-wrapper" data-tab="products">
            <table id="product-table" class="table">
                <thead id="product-head"></thead>
                <tbody id="product-body"></tbody>
            </table>

            <div id="product-loader" class="loader hidden"></div>
            <div id="product-empty" class="balance-box hidden">
                <div class="balance-label">Нет данных</div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
