<!-- web/templates/cargo_acc/settings_modal.html -->
<div id="settings-modal" class="modal">
    <div class="modal-header">⚙️ Настройки колонок +</div>
    <div class="modal-body">
        <form id="settings-form"></form>
    </div>
    <div class="modal-footer">
        <button id="settings-save" class="btn-table">Сохранить</button>
        <button type="button" id="settings-cancel" class="btn-table btn-cancel">Отмена</button>
    </div>
</div>
<div id="modal-overlay" class="modal-overlay"></div>
