body {
    font-family: DejaVu Sans, Arial, sans-serif;
    font-size: 13px;
    color: #000;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    padding: 3px;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

img {
    display: block;
}
