{#File: templates/cargo_acc/dashboard.html#}

{% extends 'base.html' %}
{% load static %}

{% block title %}Дашбоард{% endblock %}

{% block content %}
    <h1>Таблицы</h1>

    <!-- Компании -->
    <div class="table-container" data-table="company-table">
        <div class="table-header-container">
            <h2>Компании</h2>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="company-table" class="table">
            <thead>
            <tr class="table-header">
                <th>Наименование</th>
                <th>Регистрация</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Клиенты -->
    <div class="table-container" data-table="client-table">
        <div class="table-header-container">
            <h2>Клиенты</h2>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="client-table" class="table">
            <thead>
            <tr class="table-header">
                <th>Код Клиента</th>
                <th>Компания</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Склады -->
    <div class="table-container" data-table="warehouse-table">
        <div class="table-header-container">
            <h2>Склады</h2>
            <div class="table-header-buttons">
                <!-- Можно добавить кнопки, если они понадобятся -->
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="warehouse-table" class="table">
            <thead>
            <tr class="table-header">
                <th>Наименование</th>
                <th>Адрес</th>
                <th>Компания</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Типы Груза -->
    <div class="table-container" data-table="table-cargo-types">
        <div class="table-header-container">
            <h2>Типы Груза</h2>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="table-cargo-types" class="table">
            <thead>
            <tr class="table-header">
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Статусы Груза -->
    <div class="table-container" data-table="table-cargo-statuses">
        <div class="table-header-container">
            <h2>Статусы Груза</h2>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="table-cargo-statuses" class="table">
            <thead>
            <tr class="table-header">
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Типы Упаковок -->
    <div class="table-container" data-table="table-packaging-types">
        <div class="table-header-container">
            <h2>Типы Упаковок</h2>
            <div class="table-header-buttons">
                <button class="add-button">Добавить</button>
                <button class="settings-button">
                    <i class="fa fa-cog"></i> <!-- Шестеренка -->
                </button>
            </div>
        </div>
        <table id="table-packaging-types" class="table">
            <thead>
            <tr class="table-header">
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/load_product_table.js' %}"></script>
{% endblock %}
