<div id="settings-modal" style="display: none;">
    <div id="settings-modal-header" class="modal-header">
        <span id="settings-modal-title">Настройки таблицы</span>
        <button id="settings-close-modal" class="modal-close-button">&times;</button>
    </div>
    <div id="settings-modal-body" class="modal-body">
        <form id="settings-form"></form>
    </div>
    <div id="settings-modal-footer" class="modal-footer">
        <button id="settings-cancel-modal" class="modal-button">Отмена</button>
        <button id="save-settings" class="modal-button save">Сохранить</button>
    </div>
</div>
