.table { /* задает стили для самой таблицы. */
    width: 100%; /* Таблица занимает 100% ширины контейнера */
    border-collapse: collapse; /* Убирает промежутки между ячейками таблицы, делая границы одной линией */
    margin-top: 20px; /* Отступ сверху таблицы в 20px для разделения с элементами выше */
}

.table th, .table td { /* Стили для ячеек заголовков таблицы (th) и обычных ячеек (td) */
    padding: 10px; /* Внутренние отступы внутри заголовков (th) и ячеек (td), улучшая читаемость содержимого */
    border: 1px solid #ddd; /* Добавляем границы для каждой ячейки с цветом #ddd (светло-серый) */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    vertical-align: middle; /* Выравнивание текста по вертикали по центру */
}

.table-header { /* стиль для заголовков таблицы. */
    background-color: #007BFF; /* Задаем синий фон для заголовка таблицы (синий оттенок) */
    color: white; /* Текст заголовка таблицы белого цвета для контраста с синим фоном */
    font-weight: bold; /* Делаем текст в заголовке таблицы жирным */
}


/* Универсальный стиль для строк таблиц */
.table-row {
    border-bottom: 1px solid #ddd; /* Добавляем нижнюю границу для каждой строки (цвет светло-серый) */
    padding: 8px; /* Внутренние отступы в ячейках строки для улучшения читаемости */
}

.table-row:nth-child(even) {
    background-color: #f9f9f9; /* Фон для четных строк (светло-серый) — улучшает восприятие таблицы */
}

.table-row:nth-child(odd) {
    background-color: #ffffff; /* Фон для нечетных строк (белый) — чередуется с четными строками для эффекта "зебры" */
}

.table-row:hover {
    background-color: #f1f1f1; /* Изменение фона при наведении на строку (светло-серый) — выделяет строку */
    cursor: pointer; /* Изменяем курсор на "указатель руки" при наведении, указывая на возможность взаимодействия */
}

/* Универсальный стиль для модальных окон таблиц */
.del-modal { /* Подтверждение удаления */
    display: none; /* Изначально скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
    z-index: 9999;
}

/* Основной стиль для модального окна */
.modal-table {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Контент модального окна */
.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%; /* Ограничиваем ширину до 80% экрана */
    max-height: 80%; /* Ограничиваем высоту до 80% экрана */
    overflow-y: auto; /* Добавляем вертикальную прокрутку, если контент превышает высоту */
}

.modal-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007BFF; /* Синий цвет */
    height: 5mm; /* Высота полосы 5 мм */
    width: 100%; /* Растягиваем на всю ширину модального окна */
    cursor: move; /* Курсор перемещения */
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; /* Отступы по краям */
}

.modal-title {
    padding: 5mm 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Форма внутри модального окна */
#modal-form {
    max-height: 60vh; /* Ограничиваем высоту формы */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    margin-top: 10px;
}

#modal-form .form-group {
    margin-bottom: 2mm; /* Добавляем расстояние между строками полей формы */
}

.modal-content input, .modal-content select, .modal-content textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Футер с кнопками */
.modal-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.modal-save {
    background-color: #28a745; /* Зеленая кнопка */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.modal-cancel {
    background-color: #dc3545; /* Красная кнопка */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* Стили для заполнения окна выбора Компании в Клиенте */
.company-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.company-list-item {
    padding: 5px;
    cursor: pointer;
}

.company-list-item:hover {
    background-color: #f0f0f0;
}


.company-option {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.company-option:hover {
    background-color: #f1f1f1;
}
/* Файл: static/css/table.css */

/* Для рамки неуникальных полей */
input.unique-invalid {
    border: 2px solid red;
    position: relative; /* Для корректного позиционирования сообщения */
}

/* Для рамки уникальных полей */
input.unique-valid {
    border: 2px solid green;
}

/* Для контейнера поля */
.input-wrapper {
    position: relative;
}


/* Рамка для пустых полей */
input. {
    border: 2px solid red;
}


input.modal-input {
    width: 100%; /* Чтобы input был на всю ширину */
    box-sizing: border-box; /* Учитываем padding и границы */
    position: relative;
}
/* Универсальный стиль для модальных окон таблиц Конец */

/* Файл: static/css/table.css */

/* Стили для модального окна удаления */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Кнопки внизу */
.modal-buttons {
    text-align: right;
    margin-top: 10px; /* Отступ между кнопками и формой */
    padding-bottom: 10px;
}

.confirm-button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для иконки удаления */
.delete-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* Стиль поля Компания */
.company-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.company-list-item {
    padding: 5px;
    cursor: pointer;
}

.company-list-item:hover {
    background-color: #f0f0f0;
}

/* СТИЛЬ МОДАЛКИ ДЛЯ ЗАГРУЗКИ КАРТИНОК */

/* Стили для модального окна загрузки изображения */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.image-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 800px; /* Максимальная ширина */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.upload-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-section img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 20px;
}

/* Стили для кнопки закрытия модального окна */
.close {
    font-size: 1.5em;
    color: #f80606; /* Цвет крестика */
    cursor: pointer;
    position: absolute;
    right: 30px; /* Отступ справа */
    top: 20px;
}

.close:hover {
    color: #ff0000; /* Изменение цвета при наведении */
}

/* Стили для отображения полноразмерного изображения */
.full-image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.full-image-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.full-size-image {
    max-width: 90vw;
    max-height: 90vh;
}

.full-image-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
}

/* Стили для уведомления о загрузке изображения */
.upload-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}